@keyframes sparkle-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes sparkle-size {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.sparkleWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  --animation-length: 600ms;

  transform: translate(-50%, -50%);
}

.outerSparkle {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: sparkle-size var(--animation-length) ease-in-out forwards infinite;
}

.innerSparkle {
  animation: sparkle-rotate var(--animation-length) linear forwards infinite;
}