@import './background-snow.css';
@import './sparkle.css';

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
}

html {
  width: 100vw;
  height: 100dvh;

  background-color: #111111;
}

body {
  width: 100%;
  height: 100%;
    
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);

  box-sizing: border-box;
  
  background: linear-gradient(#000002, #3d76b9);
}

#calendar {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#tree {
  /* original dimensions 965/1681 */
  position: relative;
  /* width: 287px;
  height: 500px; */
  width: 428px;
  height: 745px;
  background-image: url('../assets/tree.png');
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}

.ball {
  position: absolute;

  cursor: pointer;
  pointer-events: auto
}

.ball > .image {
  width: 100%;
  height: 100%;
  display: block;
}

.ball > .text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.7rem;
  font-weight: bold;
  color: white;
}

.ball.opened:not(.today) {
  filter: saturate(0);
}


@keyframes snowflake-size {
  0% {
    transform: scale(0) rotate(0deg);
  }
  70% {
    transform: scale(0.1) rotate(45deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

.snowflake {
  position: absolute;
  transform: translate(-50%, -50%);
}

.snowflake .snowflake-inner {
  width: 300vw;
  animation: snowflake-size 1800ms ease-in forwards;
}

.snowflake svg{
  width: 100%;
  height: auto;
}

@keyframes snowflake-background {
  0% {
    background-color: transparent;
  }
  70% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
}

.snowflake-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  animation: snowflake-background 1800ms ease-in forwards;
}

#modal {
  width: 100%;
  height: 100%;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  border: none;
}

#modal > .modal-inner {
  display: flex;
  flex-direction: column;
}

#close-btn {
  align-self: flex-end;
}

#ball1 {
  width: 7.1%;
  top: 61.7%;
  left: 79.1%;
}

#ball2 {
  width: 7.5%;
  top: 66.1%;
  left: 30.3%;
}

#ball3 {
  width: 6.9%;
  top: 46.9%;
  left: 20.8%;
}

#ball4 {
  width: 7.5%;
  top: 77.1%;
  left: 12.2%;
}

#ball5 {
  width: 5.5%;
  top: 36.4%;
  left: 63.4%;
}

#ball6 {
  width: 6.9%;
  top: 50.7%;
  left: 67.3%;
}

#ball7 {
  width: 7.9%;
  top: 78.7%;
  left: 65.4%;
}

#ball8 {
  width: 6.4%;
  top: 64.3%;
  left: 15.8%;
}

#ball9 {
  width: 6.3%;
  top: 40.5%;
  left: 46.3%;
}

#ball10 {
  width: 6.8%;
  top: 51.9%;
  left: 27.0%;
}

#ball11 {
  width: 6.3%;
  top: 80.2%;
  left: 37.7%;
}

#ball12 {
  width: 6.6%;
  top: 54.0%;
  left: 42.7%;
}

#ball13 {
  width: 6.3%;
  top: 36.9%;
  left: 29.4%;
}

#ball14 {
  width: 7.9%;
  top: 66%;
  left: 64.7%;
}

#ball15 {
  width: 7.6%;
  top: 73.8%;
  left: 1.8%;
}

#ball16 {
  width: 8.1%;
  top: 75.6%;
  left: 79.7%;
}

#ball17 {
  width: 6.7%;
  top: 39.4%;
  left: 34.7%;
}

#ball18 {
  width: 5.9%;
  top: 39.8%;
  left: 58.3%;
}

#ball19 {
  width: 7.2%;
  top: 70.9%;
  left: 91.5%;
}

#ball20 {
  width: 7.4%;
  top: 78.4%;
  left: 27.7%;
}

#ball21 {
  width: 7%;
  top: 67.4%;
  left: 48.0%;
}

#ball22 {
  width: 7.7%;
  top: 79.6%;
  left: 51.5%;
}

#ball23 {
  width: 6.2%;
  top: 53.9%;
  left: 56.6%;
}

#star {
  width: 48.2%;
  top: 1.4%;
  left: 22.3%;
}

#star > .text {
  font-size: 1.3rem;
  top: 53%;
}
