@import './background-snow.css';


html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;

  /* background-color: #111111;
  background: linear-gradient(#112233, #111111); */
}

html {
  width: 100vw;
  height: 100dvh;

  background-color: red;
}

body {
  width: 100%;
  height: 100%;
    
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);

  box-sizing: border-box;
  
  background: linear-gradient(#112233, #111111);
}

#calendar {
  position: relative;

  width: 100%;
  height: 100%;

  /* background-color: burlywood; */

  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
}

#tree {
  position: relative;
  width: 300px;
  height: 400px;
  background: url('../assets/tree.png') no-repeat center bottom;
  background-size: contain;
  pointer-events: none;
}

#day1 {
  width: 20px;

  top: 150px;
  left: 130px;
}

.day {
  position: absolute;

  cursor: pointer;
  pointer-events: auto
}

.day > .ball {
  width: 100%;
  height: 100%;
  display: block;
}

.day > .text {
  /* width: 100%;
  height: 100%; */
  position: absolute;
  /* top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: bold;
  color: white;
  /* pointer-events: none; */
}

.day.opened {
  /* background-color: peru; */
}