@import './background-snow.css';


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: initial;

  font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive
}

html, body {
  background: linear-gradient(#123, #111);
}

#calendar {
  position: relative;

  width: calc(100% - 6rem);
  height: calc(100% - 6rem);
  margin: 3rem;

  background-color: burlywood;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.day {
  margin: 0.5rem;
  padding: 1rem;

  background-color: saddlebrown;
  border-radius: 5px;

  font-weight: bold;
  color: white;
  cursor: pointer;
}

.day.opened {
  background-color: peru;
}