@import './background-snow.css';
@import './sparkle.css';
@import './modal.css';
@import './tree.css';

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
}

html {
  width: 100vw;
  height: 100dvh;

  background-color: #111111;
}

body {
  width: 100%;
  height: 100%;
    
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);

  box-sizing: border-box;
  
  background: linear-gradient(#000002, #3d76b9);
}

#calendar {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
